@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* test */
* {
  user-select: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(157 255 255 / 67%);
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.may-tinh {
  border-radius: 25px;
  margin: auto;
  width: 600px;
  background-color: #0075dabd;
  padding: 25px;
  box-shadow: 5px 10px 0px #3196eed2;
}

.man-hinh {
  border-radius: 10px;
  position: relative;
  width: auto;
  height: 200px;
  min-height: 200px;
  background-color: #cfe3e4;
}

#noi-dung-hien-thi {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "DotGothic16", sans-serif;
  text-align: right;
  line-height: 100px;
  font-size: 100px;
  color: #333635;
  word-break: break-all;
  overflow-wrap: break-word;
  font-weight: bold;
}
.ban-phim {
  margin-top: 6%;
  width: auto;
  height: 400px;
  cursor: pointer;
  font-family: "DotGothic16", sans-serif;
}

.phim {
  border-radius: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 0 6px #999;
}

.phim:hover {
  background-color: rgba(255, 255, 255, 0.384);
}

.phim:active {
  background-color: rgba(255, 255, 255, 0.384);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.so {
  border-radius: 15px;
  float: left;
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  background-color: #0b1f312d;
}

.so > .phim {
  margin: 4px;
  font-size: 40px;
  height: auto;
  border-style: solid;
  padding-top: 30px;
}

.chuc-nang {
  border-radius: 10px;
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1);
  flex-direction: column;
  background-color: #0b1f312d;
}

.chuc-nang > .phim {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  border-style: solid;
}

#tg {
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
  position: relative;
  left: 58px;
  top: 100px;
  float: right;
  transform: rotate(90deg);
}

.rainbow-text {
  background-image: repeating-linear-gradient(
    45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cai-dat {
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
/*cmt thu*/